$primary: #f4d7bd;
$secondary: #cfd6ce;
$success: #b9f2d1;
$info: #5b90b7;
$warning: #f2ddb9;
$danger: #d62953;
$light: #ffffff;
$dark: #807563;

@import "../lib/bootstrap/scss/bootstrap";
@import "../lib/bootstrap/scss/_utilities.scss";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$utilities: map-merge(
  $utilities, (
    "rounded": map-merge(map-get($utilities, "rounded"), (responsive: true)),
    "rounded-top": map-merge(map-get($utilities, "rounded-top"), (responsive: true)),
    "rounded-start": map-merge(map-get($utilities, "rounded-start"), (responsive: true)),
    "rounded-end": map-merge(map-get($utilities, "rounded-end"), (responsive: true))
  )
);

@import "../lib/bootstrap/scss/utilities/_api.scss";

html {
    position: relative;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}

.btn {
    font-size: inherit;
}

.btn-lg {
    font-size: 1.25em;
}

.blockquote {
    position: relative;
    padding-left: 50px;
    font-size: 1.25em;
}

.blockquote-footer {
    position: relative;
    padding-left: 50px;
}

.quotation-mark {
    position: absolute;
    left: 10px;
}

.svg-dimensions {
    width: 32px;
    height: 32px;
}

.svg-margin {
    margin: 10px;
}

.navbar-toggler {
    border: none;
}

.nav-item {
    color: black;
    padding-right: 8px;
    padding-left: 8px;
}

.hero-image {
    display: flex;
    width: 100%;
    height: 45vh;
    flex-direction: column;
    background-image: url("../images/stones-3184610_1920-960.jpg");
    align-self: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
    align-items: center;
    justify-content: center;
}

.hero-section {
    height: 30vh;
}

@mixin transition-properties {
    transition: border-color 1s ease, width 1s ease;
}

@mixin box-border {
    border: 2px solid transparent;
    border-radius: 0;
}

.box-up-input {
    @include box-border;
    @include transition-properties;
    width: 90%;

    &:hover,
    &:focus {
        border-color: $dark;
        width: 100%;
    }
}

.bordered-textarea {
    @include box-border;
    transition: border-color 1s ease;

    &:hover,
    &:focus {
        border-color: $dark;
    }
}

.form-floating > .form-control.textarea-large,
.form-floating > .form-select.textarea-large {
    height: 150px;
    min-height: 150px;
    max-height: 450px;
}

.textarea-pre-line {
    white-space: pre-line;
}

@media (prefers-color-scheme: dark) {
}

@media (prefers-color-scheme: light) {
}

@media (min-width: 576px) {
    html {
        font-size: 18px;
    }

    .blockquote {
        padding-left: 60px;
    }

    .blockquote-footer {
        padding-left: 60px;
    }

    .svg-dimensions {
        width: 42px;
        height: 42px;
    }

    .text-container-sm-75 {
        max-width: 75%;
        margin: 0 auto;
    }
}

@media (min-width: 992px) {
    .text-container-lg-50 {
        max-width: 50%;
        margin: 0 auto;
    }

    .text-container-lg-75 {
        max-width: 75%;
        margin: 0 auto;
    }
}

@media (min-width: 1200px) {
    .text-container-xl-75 { 
        max-width: 75%;
        margin: 0 auto;
    }
}

@media (min-width: 1400px) {
    .text-container-xxl-75 {
        max-width: 75%;
        margin: 0 auto;
    }

    .height-1200-xxl {
        height: 1200px;
    }
}

@media (min-width: 1900px) {
    .text-container-xxxl-50 {
        max-width: 50%;
        margin: 0 auto;
    }
}