@page
@model BeyondMassages.Web.Pages.ErrorModel
@{
    ViewData["Title"] = "Error";
}

<div class="d-flex align-items-center justify-content-center vh-100">
    <div class="text-center">
        <h1 class="display-1 fw-bold">Error</h1>
        <p class="fs-3">@Model.ExceptionMessage</p>
        <a asp-page="Index" class="btn btn-info text-light">Go Home</a>
    </div>
</div>
