@page
@model BeyondMassagesApp.Pages.IndexModel
@{
    ViewData["Title"] = "Home";
}

@*Hero*@


<section>
    <div class="container-fluid p-0">
        <div class="hero-image">
            <div class="text-light text-center">
                <h1 class="display-3">Beyond Massages</h1>
                <p class="fs-4">Lets go beyond together</p>
                <a class="btn btn-outline-success btn-lg rounded-0 mt-3" role="button" asp-page="/Services/Index">Browse our Services</a>
            </div>
        </div>
    </div>
</section>

@*About*@


<section id="about">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-lg-6 d-flex justify-content-center align-items-center bg-secondary py-4 py-sm-5">
                <img class="img-fluid" alt="massage therapist" src="~/images/justin-about.jpg" 
                asp-append-version="true" width="400px" height="533px"/>
            </div>

            <div class="col-12 col-lg-6 py-4 py-sm-5">
                <div class="text-container-sm-75 text-container-xxxl-50">
                    <h2 class="display-5 text-center text-lg-center pb-4">About</h2>
                    <div>
                        <p>
                            My name is Justin, and if you decide to visit me, then I shall be your massage therapist.
                            I thought I’d use this section to write a little bit about myself and my journey in order 
                            for you to have a feel of who I am, and how Beyond Massages came into existence.
                        </p>
                        <p>
                            I was born with a genetic condition known as opticathrophy which refers to the death of the
                            retinal ganglion cell axons that comprise the optic nerve. To put it into simple terms,
                            this condition has left me both long and short sighted, and has also limited my potential
                            career options.
                        </p>
                        <p class="mb-0">
                            Eventually I discovered massage therapy. I have also been working out for over 10 years,
                            and in that time have procured a great knowledge of health and fitness, whilst helping 
                            others improve their fitness too with quality exercise and nutrition. I later decided to 
                            combine both passions to start a company that will offer both massage therapy 
                            and personal training services to help others improve their health and well-being. 
                            This is why I started Beyond Massages.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@*Services*@


<section class="bg-primary py-4 py-sm-5">
    <div class="container-fluid">
        <h2 class="display-5 text-center text-lg-center pb-4 pb-sm-5">Services</h2>

        <div class="row justify-content-evenly mx-lg-4">
            <div class="col-12 col-sm-6 col-xxl-3 d-flex">
                <div class="card mb-4 mb-xxl-0 mx-2">
                    <a asp-page="/Services/MOT">
                        <img class="img-fluid card-img-top" alt="Massage Therapist performing the MOT"
                        src="~/images/pexels-arina-krasnikova-6663378.jpg" asp-append-version="true" width="800px" height="533px" />
                    </a>
                    <div class="card-body d-flex flex-column">
                        <h4 class="card-title">MOT</h4>
                        <p>
                            A targeted 30-minute treatment designed to provide optimal results in one area, such as adressing lower back pain.
                        </p>
                        <a class="align-self-start btn btn-info rounded-0 mt-auto text-light" role="button" asp-page="/Services/MOT">Learn More</a>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-xxl-3 d-flex">
                <div class="card mb-4 mb-xxl-0 mx-2">
                    <a asp-page="/Services/Sports-Massage">
                        <img class="img-fluid card-img-top" alt="Massage Therapist performing the Sports Massage"
                        src="~/images/pexels-ryutaro-tsukata-5473182.jpg" asp-append-version="true" width="800px" height="533px" />
                    </a>
                    <div class="card-body d-flex flex-column">
                        <h4 class="card-title">Sports Massage</h4>
                        <p>
                            Revitalize your body with our Sports Massage, a full-body treatment ideal for those with multiple issues
                            or chronic discomfort.
                        </p>
                        <a class="align-self-start btn btn-info rounded-0 mt-auto text-light" role="button" asp-page="/Services/Sports-Massage">Learn More</a>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-xxl-3 d-flex">
                <div class="card mb-4 mb-sm-0 mx-2">
                    <a asp-page="/Services/Deep-Tissue-Massage">
                        <img class="img-fluid card-img-top" alt="Massage Therapist performing the Deep Tissue Massage"
                        src="~/images/pexels-antoni-shkraba-4599374.jpg" asp-append-version="true" width="800px" height="533px" />
                    </a>
                    <div class="card-body d-flex flex-column">
                        <h4 class="card-title">Deep Tissue Massage</h4>
                        <p>
                            Our Deep Tissue Massage delves into the deeper muscle layers to alleviate persistent tension with slow,
                            concentrated strokes.
                        </p>
                        <a class="align-self-start btn btn-info rounded-0 mt-auto text-light" role="button" asp-page="/Services/Deep-Tissue-Massage">Learn More</a>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-xxl-3 d-flex">
                <div class="card mx-2">
                    <a asp-page="/Services/Relaxation-Massage">
                        <img class="img-fluid card-img-top" alt="Massage Therapist performing the Relaxation Massage"
                        src="~/images/pexels-cottonbro-studio-3997981.jpg" asp-append-version="true" width="800px" height="533px" />
                    </a>
                    <div class="card-body d-flex flex-column">
                        <h4 class="card-title">Relaxation Massage</h4>
                        <p>
                            Unwind with our Relaxation Massage, tailored to soothe upper body muscle knots and postural tension through a personalized approach.
                        </p>
                        <a class="align-self-start btn btn-info rounded-0 mt-auto text-light" role="button" asp-page="/Services/Relaxation-Massage">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@*Testimonials*@


<section class="bg-primary-subtle py-4 py-sm-5">
    <div class="container-fluid">
        <h2 class="display-5 text-center pb-4 pb-sm-5">Testimonials</h2>

        <div class="row mx-sm-2 d-flex justify-content-evenly">
            <div class="col-12 col-xxl-3 justify-content-center text-container-lg-75 mb-4">
                <figure>
                    <blockquote class="blockquote">
                        <svg class="quotation-mark svg-dimensions" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M12 12a1 1 0 0 0 1-1V8.558a1 1 0 0 0-1-1h-1.388c0-.351.021-.703.062-1.054.062-.372.166-.703.31-.992.145-.29.331-.517.559-.683.227-.186.516-.279.868-.279V3c-.579 0-1.085.124-1.52.372a3.322 3.322 0 0 0-1.085.992 4.92 4.92 0 0 0-.62 1.458A7.712 7.712 0 0 0 9 7.558V11a1 1 0 0 0 1 1h2Zm-6 0a1 1 0 0 0 1-1V8.558a1 1 0 0 0-1-1H4.612c0-.351.021-.703.062-1.054.062-.372.166-.703.31-.992.145-.29.331-.517.559-.683.227-.186.516-.279.868-.279V3c-.579 0-1.085.124-1.52.372a3.322 3.322 0 0 0-1.085.992 4.92 4.92 0 0 0-.62 1.458A7.712 7.712 0 0 0 3 7.558V11a1 1 0 0 0 1 1h2Z" />
                        </svg>
                        <p>
                            The Deep Tissue Massage was transformative. Intense and precise,
                            it relieved my chronic back pain significantly. Highly recommend for deep-seated muscle issues.
                        </p>
                    </blockquote>
                    <figcaption class="blockquote-footer">
                        Jordan
                    </figcaption>
                </figure>
            </div>

            <div class="col-12 col-xxl-3 justify-content-center text-container-lg-75 mb-4">
                <figure>
                    <blockquote class="blockquote">
                        <svg class="quotation-mark svg-dimensions" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M12 12a1 1 0 0 0 1-1V8.558a1 1 0 0 0-1-1h-1.388c0-.351.021-.703.062-1.054.062-.372.166-.703.31-.992.145-.29.331-.517.559-.683.227-.186.516-.279.868-.279V3c-.579 0-1.085.124-1.52.372a3.322 3.322 0 0 0-1.085.992 4.92 4.92 0 0 0-.62 1.458A7.712 7.712 0 0 0 9 7.558V11a1 1 0 0 0 1 1h2Zm-6 0a1 1 0 0 0 1-1V8.558a1 1 0 0 0-1-1H4.612c0-.351.021-.703.062-1.054.062-.372.166-.703.31-.992.145-.29.331-.517.559-.683.227-.186.516-.279.868-.279V3c-.579 0-1.085.124-1.52.372a3.322 3.322 0 0 0-1.085.992 4.92 4.92 0 0 0-.62 1.458A7.712 7.712 0 0 0 3 7.558V11a1 1 0 0 0 1 1h2Z" />
                        </svg>
                        <p>
                            Exceptional Sports Massage, tailored perfectly to my athletic needs.
                            Enhanced my flexibility and recovery time. A must for any serious athlete.
                        </p>
                    </blockquote>
                    <figcaption class="blockquote-footer">
                        Michael
                    </figcaption>
                </figure>
            </div>

            <div class="col-12 col-xxl-3 justify-content-center text-container-lg-75">
                <figure class="mb-0">
                    <blockquote class="blockquote">
                        <svg class="quotation-mark svg-dimensions" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M12 12a1 1 0 0 0 1-1V8.558a1 1 0 0 0-1-1h-1.388c0-.351.021-.703.062-1.054.062-.372.166-.703.31-.992.145-.29.331-.517.559-.683.227-.186.516-.279.868-.279V3c-.579 0-1.085.124-1.52.372a3.322 3.322 0 0 0-1.085.992 4.92 4.92 0 0 0-.62 1.458A7.712 7.712 0 0 0 9 7.558V11a1 1 0 0 0 1 1h2Zm-6 0a1 1 0 0 0 1-1V8.558a1 1 0 0 0-1-1H4.612c0-.351.021-.703.062-1.054.062-.372.166-.703.31-.992.145-.29.331-.517.559-.683.227-.186.516-.279.868-.279V3c-.579 0-1.085.124-1.52.372a3.322 3.322 0 0 0-1.085.992 4.92 4.92 0 0 0-.62 1.458A7.712 7.712 0 0 0 3 7.558V11a1 1 0 0 0 1 1h2Z" />
                        </svg>
                        <p>
                            The Relaxation Massage was a serene experience. It melted away stress and tension,
                            leaving me refreshed and peaceful. Truly a rejuvenating session.
                        </p>
                    </blockquote>
                    <figcaption class="blockquote-footer mb-0">
                        Aaliyah
                    </figcaption>
                </figure>
            </div>
        </div>
    </div>
</section>

@* Contact Form *@


<section id="contact" class="bg-primary py-4 py-sm-5">
    <div class="container">
        <form id="contactForm" class="d-flex justify-content-center" method="post" autocomplete="off" novalidate>
            <div class="col-12 col-lg-8 bg-secondary p-3 p-sm-5">
                <h2 class="display-6 fw-normal mb-3">Get In Touch</h2>
                <div class="row mb-3">
                    <div class="vstack gap-1">
                        <div><i class="bi bi-telephone-fill"></i> 123-456-7890</div>
                        <div class="text-break"><i class="bi bi-envelope-fill"></i> info@BeyondMassages.com</div>
                        <div><i class="bi bi-geo-alt-fill"></i> Road name, Town, Post Code, Country</div>
                    </div>
                </div>

                <div class="form-floating mb-3">
                    <input asp-for="EmailDetails.Name" type="text" class="form-control box-up-input shadow-none fw-medium" placeholder="Name" aria-label="Name">
                    <label asp-for="EmailDetails.Name"></label>
                    <span asp-validation-for="EmailDetails.Name" class="text-danger" />
                </div>

                <div class="form-floating mb-3">
                    <input asp-for="EmailDetails.EmailAddress" type="email" class="form-control box-up-input shadow-none fw-medium" placeholder="Email" aria-label="Email">
                    <label asp-for="EmailDetails.EmailAddress"></label>
                    <span asp-validation-for="EmailDetails.EmailAddress" class="text-danger" />
                </div>

                <div class="form-floating mb-3">
                    <input asp-for="EmailDetails.Subject" type="text" class="form-control box-up-input shadow-none fw-medium" placeholder="Subject" aria-label="Subject">
                    <label asp-for="EmailDetails.Subject"></label>
                    <span asp-validation-for="EmailDetails.Subject" class="text-danger" />
                </div>
                 
                <div class="form-floating mb-3">
                    <textarea asp-for="EmailDetails.Message" class="form-control bordered-textarea shadow-none textarea-large textarea-pre-line fw-medium" placeholder="Message" aria-label="Message"></textarea>
                    <label asp-for="EmailDetails.Message"></label>
                    <span asp-validation-for="EmailDetails.Message" class="text-danger" />
                </div>

                <button id="submitButton" type="submit" class="btn btn-info rounded-0 mb-0 text-light">Submit</button>
            </div>
        </form>
    </div>
</section>

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/submitForm.js" asp-append-version="true"></script>
    <script src="~/js/indexInit.js" asp-append-version="true"></script>
}