@page
@model BeyondMassagesApp.Pages.Services.ServiceThreeModel
@{
    ViewData["Title"] = "Deep Tissue Massage";
}

<section>
    <div class="container-fluid">
        <div class="row align-items-center height-1200-xxl">
            <div class="col-12 col-xxl-6 py-4 py-sm-5">
                <div class="text-container-sm-75 text-container-lg-50 text-container-xxl-75 text-container-xxxl-50 mx-auto">
                    <h2 class="text-center text-lg-center pb-3 pb-sm-4">What is the Deep Tissue Massage?</h2>
                    <div class="mb-4 mb-sm-5">
                        <p>
                            Our Deep Tissue Massage is designed to target the deep layers of muscle tissue, penetrating deep to alleviate 
                            entrenched tension. The technique utilizes deliberate, slow strokes combined with deep finger pressure applied 
                            strategically to contracted areas. This approach not only follows but also crosses the grain of muscles, tendons, 
                            and fascia, a method particularly effective in breaking down tight knots and relieving pain.
                        </p>
                        <p>
                            This therapeutic massage goes beyond the superficial layers, promoting healing by releasing the persistent patterns
                            of stress that can inhibit full range of motion and lead to discomfort.
                        </p>
                        <p>
                            With each session tailored to address your unique concerns, our Deep Tissue Massage is both a targeted remedy for 
                            chronic pain and a sanctuary for those seeking a profound sense of relaxation. It is an integral part of maintaining a healthy, 
                            functioning body and an optimal choice for those who carry tension deep within their muscular framework.
                        </p>
                    </div>

                    <div class="hstack gap-1 justify-content-center fw-medium mb-4 mb-sm-5">
                        <div class="px-2">30 minutes - £32</div>
                        <div class="vr"></div>
                        <div class="px-2">45 minutes - £60</div>
                        <div class="vr"></div>
                        <div class="px-2">60 minutes - £90</div>
                    </div>
                    <div class="d-flex justify-content-center">
                        <button class="btn btn-info rounded-0 text-light m-auto" type="button">Book Service</button>
                    </div>
                </div>
            </div>

            <div class="col-12 col-xxl-6 d-flex justify-content-center align-items-center py-4 py-sm-5 bg-secondary h-100">
                <img class="img-fluid" alt="massage therapist performing the Deep Tissue Massage"
                src="/images/pexels-antoni-shkraba-4599374-bw.jpg" asp-append-version="true" width="800" height="533px">
            </div>
        </div>
    </div>
</section>

<section class="bg-secondary-subtle py-4 py-sm-5">
    <div class="container">
        <div class="col mb-4 mb-sm-5">
            <div class="fs-3 fw-medium text-center">Didn't find what you were looking for?</div>
        </div>
        <div class="col d-flex justify-content-center">
            <a class="btn btn-info rounded-0 text-light m-auto" role="button" asp-page="/Services/Index">Browse our other services here</a>
        </div>
    </div>
</section>