@page
@model BeyondMassagesApp.Pages.Services.IndexModel
@{
    ViewData["Title"] = "Services";
}

@*Hero*@


<section class="d-flex align-items-center hero-section bg-primary py-5">
    <div class="container">
        <div class="row text-center">
            <h1 class="display-5 fw-normal mb-0">Services</h1>
        </div>
    </div>
</section>

@*Services*@


<section class="bg-light-subtle py-4 py-sm-5">
    <div class="container-fluid container-sm">
        <div class="card border border-2 mb-4 mx-lg-4">
            <div class="row justify-content-evenly g-0">
                <div class="col-12 col-lg d-flex justify-content-center justify-content-lg-start">
                    <a asp-page="/Services/Service-One">
                        <img class="img-fluid rounded-top-1 rounded-top-lg-0 rounded-start-lg-1" src="~/images/pexels-andrea-piacquadio-3764568.jpg"
                        asp-append-version="true" width="800px" height="533px" />
                    </a>
                </div>
                <div class="col-12 col-lg d-flex align-items-center">
                    <div class="card-body">
                        <h4 class="card-title">Service One</h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua. Pulvinar elementum integer enim
                            neque volutpat ac tincidunt. Sed nisi lacus sed viverra tellus in.
                        </p>
                        <a class="btn btn-info rounded-0 text-light" role="button" asp-page="/Services/Service-One">Learn More</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="card border border-2 mb-4 mx-lg-4">
            <div class="row justify-content-evenly g-0">
                <div class="col-12 col-lg order-2 order-lg-1 d-flex align-items-center">
                    <div class="card-body">
                        <h4 class="card-title">Service Two</h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua. Pulvinar elementum integer enim
                            neque volutpat ac tincidunt. Sed nisi lacus sed viverra tellus in.
                        </p>
                        <a class="btn btn-info rounded-0 text-light" role="button" asp-page="/Services/Service-Two">Learn More</a>
                    </div>
                </div>
                <div class="col-12 col-lg order-1 order-lg-2 d-flex justify-content-end">
                    <a asp-page="/Services/Service-Two">
                        <img class="img-fluid rounded-top-1 rounded-top-lg-0 rounded-end-lg-1" src="~/images/pexels-antoni-shkraba-4599374.jpg"
                        asp-append-version="true" width="800px" height="533px">
                    </a>
                </div>
            </div>
        </div>

        <div class="card border border-2 mb-4 mx-lg-4">
            <div class="row justify-content-evenly g-0">
                <div class="col-12 col-lg d-flex justify-content-center justify-content-lg-start">
                    <a asp-page="/Services/Service-Three">
                        <img class="img-fluid rounded-top-1 rounded-top-lg-0 rounded-start-lg-1" src="~/images/pexels-arina-krasnikova-6663378.jpg"
                        asp-append-version="true" width="800px" height="533px" />
                    </a>
                </div>
                <div class="col-12 col-lg d-flex align-items-center">
                    <div class="card-body">
                        <h4 class="card-title">Service Three</h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua. Pulvinar elementum integer enim
                            neque volutpat ac tincidunt. Sed nisi lacus sed viverra tellus in.
                        </p>
                        <a class="btn btn-info rounded-0 text-light" role="button" asp-page="/Services/Service-Three">Learn More</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="card border border-2 mx-lg-4">
            <div class="row justify-content-evenly g-0">
                <div class="col-12 col-lg order-2 order-lg-1 d-flex align-items-center">
                    <div class="card-body">
                        <h4 class="card-title">Service Four</h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua. Pulvinar elementum integer enim
                            neque volutpat ac tincidunt. Sed nisi lacus sed viverra tellus in.
                        </p>
                        <a class="btn btn-info rounded-0 text-light" role="button" asp-page="/Services/Service-Four">Learn More</a>
                    </div>
                </div>
                <div class="col-12 col-lg order-1 order-lg-2 d-flex justify-content-end">
                    <a asp-page="/Services/Service-Four">
                        <img class="img-fluid rounded-top-1 rounded-top-lg-0 rounded-end-lg-1" src="~/images/pexels-arina-krasnikova-6663361.jpg"
                        asp-append-version="true" width="800px" height="533px" />
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>