@page
@model BeyondMassagesApp.Pages.Services.ServiceOneModel
@{
    ViewData["Title"] = "MOT";
}

<section>
    <div class="container-fluid">
        <div class="row align-items-center height-1200-xxl">
            <div class="col-12 col-xxl-6 py-4 py-sm-5">
                <div class="text-container-sm-75 text-container-lg-50 text-container-xxl-75 text-container-xxxl-50 mx-auto">
                    <h2 class="text-center text-lg-center pb-3 pb-sm-4">What is the MOT?</h2>
                    <div class="mb-4 mb-sm-5">
                        <p>
                            The MOT treatment focuses solely on one specific problem i.e lower back pain. In an MOT session we try to cover as much of the
                            related area as possible. You can have an MOT every once in a while to check in, or you can make it a regular thing and 
                            turn it into a maintenance massage.
                        </p>
                        <p>
                            Using an effective and bespoke approach including instrument assisted soft tissue mobilisation, deep tissue, percussion therapy and different 
                            forms of assisted stretching, this 30 minute treatment gives us enough time to help you to our highest standard.
                        </p>
                        <p>
                            <strong>NOTE: </strong>30 minutes is not enough time to treat two serious upper and lower body issues, for example a painful shoulder (upper) and lower back (lower).
                            The focus would be on either upper or lower at your discretion. This allows us to get best possible results on the day for our area of focus. 
                            If you aren’t sure which treatment is suitable for you, then please get in touch with me using your preferred contact method and l'll get back to you as soon as possible.
                        </p>
                    </div>

                    <div class="hstack gap-1 justify-content-center fw-medium mb-4 mb-sm-5">
                        <div>30 minutes - £32</div>
                    </div>
                    <div class="d-flex justify-content-center">
                        <button class="btn btn-info rounded-0 text-light m-auto" type="button">Book Service</button>
                    </div>
                </div>
            </div>

            <div class="col-12 col-xxl-6 d-flex justify-content-center align-items-center py-4 py-sm-5 bg-secondary h-100">
                <img class="img-fluid" alt="massage therapist performing the MOT"
                src="/images/pexels-arina-krasnikova-6663378-bw.jpg" asp-append-version="true" width="800px" height="533px">               
            </div>
        </div>
    </div>
</section>

<section class="bg-secondary-subtle py-4 py-sm-5">
    <div class="container">
        <div class="col mb-4 mb-sm-5">
            <div class="fs-3 fw-medium text-center">Didn't find what you were looking for?</div>
        </div>
        <div class="col d-flex justify-content-center">
            <a class="btn btn-info rounded-0 text-light m-auto" role="button" asp-page="/Services/Index">Browse our other services here</a>
        </div>
    </div>
</section>
