@page
@model BeyondMassagesApp.Pages.Services.ServiceFourModel
@{
    ViewData["Title"] = "Service Four";
}

<section>
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-12 col-xxl-6 py-4 py-sm-5">
                <div class="text-container-sm-75 text-container-lg-50 text-container-xxl-75 text-container-xxxxl-50 mx-auto">
                    <h2 class="text-center text-lg-center pb-3 pb-sm-4">What is Service Four?</h2>
                    <div class="mb-4 mb-sm-5">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua. Pulvinar elementum integer enim
                            neque volutpat ac tincidunt. Sed nisi lacus sed viverra tellus in.
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua.
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                            ut labore et dolore magna aliqua. Venenatis urna cursus eget nunc scelerisque viverra mauris in aliquam.
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                            Leo urna molestie at elementum eu facilisis sed.
                        </p>
                    </div>

                    <div class="hstack gap-1 justify-content-center fw-medium mb-4 mb-sm-5">
                        <div class="px-2">30 minutes - £56</div>
                        <div class="vr"></div>
                        <div class="px-2">45 minutes - £70</div>
                        <div class="vr"></div>
                        <div class="px-2">60 minutes - £95</div>
                    </div>
                    <div class="d-flex justify-content-center">
                        <button class="btn btn-info rounded-0 text-light m-auto" type="button">Book Service</button>
                    </div>
                </div>
            </div>

            <div class="col-12 col-xxl-6 d-flex justify-content-center align-items-center py-4 py-sm-5 bg-secondary">
                <img class="img-fluid shrink-image-md-50" src="/images/pexels-cottonbro-studio-3998008.jpg"
                asp-append-version="true" width="500px" height="750px">
            </div>
        </div>
    </div>
</section>

<section class="bg-secondary-subtle py-4 py-sm-5">
    <div class="container">
        <div class="col mb-4 mb-sm-5">
            <div class="fs-3 fw-medium text-center">Didn't find what you were looking for?</div>
        </div>
        <div class="col d-flex justify-content-center">
            <a class="btn btn-info rounded-0 text-light m-auto" role="button" asp-page="/Services/Index">Browse our other services here</a>
        </div>
    </div>
</section>