@page
@model ServiceThreeModel
@{
    ViewData["Title"] = "ServiceThree";
}

<section class="d-flex align-items-center hero-section bg-primary py-5">
    <div class="container">
        <div class="row text-center">
            <h1 class="display-5 fw-normal hero-section-title">Service Three</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
        </div>
    </div>
</section>

@*<section class="d-flex align-items-center hero-section bg-primary py-5">
    <div class="container">
        <div class="row text-center position-relative">
            <h1 class="display-5 fw-normal">Services</h1>
            <p class="subtext">Your description or subtext goes here.</p>
        </div>
    </div>
</section>
*@

<section class="bg-light-subtle py-5">
    <div class="container">
        <div class="row d-flex justify-content-between py-3">
            <div class="col-5 d-flex flex-column justify-content-center">
                <h4 class="section-title">What is Service Three?</h4>
                <div>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua. Pulvinar elementum integer enim
                        neque volutpat ac tincidunt. Sed nisi lacus sed viverra tellus in.
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua.
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                        ut labore et dolore magna aliqua. Venenatis urna cursus eget nunc scelerisque viverra mauris in aliquam.
                    </p>
                </div>
                <div>
                    <button class="btn btn-secondary" type="button">Book Now</button>
                </div>
            </div>
            <div class="col-5">
                <img class="img-fluid" src="~/images/pexels-cottonbro-studio-3998009.jpg" width="523px" height="348px" />
            </div>
        </div>
    </div>
</section>

<section class="bg-danger py-5">
    <div class="container">
        <div class="row">
            <div class="col-6 align-self-start">
                <h2 class="display-6 fw-normal">Didn't find what you were looking for?</h2>
            </div>
            <div class="col align-self-end">
                <button class="btn btn-success btn-lg" type="button">Browse our other services here</button>
            </div>
        </div>
    </div>
</section>
