@page
@model ServicesModel
@{
    ViewData["Title"] = "Services";
}

<section class="d-flex align-items-center hero-section bg-primary py-5">
    <div class="container">
        <div class="row text-center">
            <h1 class="display-5 fw-normal hero-section-title">Services</h1>
        </div>
    </div>
</section>

@*<section class="d-flex align-items-center bg-primary py-5" style="max-height: 25vh">
    <div class="container">
        <div class="row hero-section text-center">
            <h1 class="display-5 fw-normal hero-section-title">Services</h1>
        </div>
    </div>
</section>

*@@*<section class="bg-primary-subtle py-5">
    <div class="container">
        <div class="row hero-section-title text-center">
            <div class="col py-5">
                <h1 class="display-3">Services</h1>
            </div>
        </div>
    </div>
*@

<section class="bg-light-subtle py-5">
    <div class="container-fluid container-lg">
        <div class="card border border-2 mb-5 mx-lg-4">
            <div class="row justify-content-evenly g-0">
                <div class="col-12 col-md d-flex justify-content-center justify-content-lg-start">
                    <img class="img-fluid " src="~/images/pexels-andrea-piacquadio-3764568.jpg" />
                </div>
                <div class="col-12 col-md d-flex align-items-center">
                    <div class="card-body">
                        <h4 class="card-title">Service 1</h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua. Pulvinar elementum integer enim
                            neque volutpat ac tincidunt. Sed nisi lacus sed viverra tellus in.
                        </p>
                        <a class="btn btn-secondary" role="button" asp-area="" asp-page="/ServiceTwo">Read More</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="card border border-2 mb-5 mx-lg-4">
            <div class="row justify-content-evenly g-0">
                <div class="col-12 col-md order-2 order-md-1 d-flex align-items-center">
                    <div class="card-body">
                        <h4 class="card-title">Service 2</h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua. Pulvinar elementum integer enim
                            neque volutpat ac tincidunt. Sed nisi lacus sed viverra tellus in.
                        </p>
                        <a class="btn btn-secondary" role="button" asp-area="" asp-page="/ServiceTwo">Read More</a>
                    </div>
                </div>
                <div class="col-12 col-md order-1 order-md-2 d-flex justify-content-end">
                    <img class="img-fluid" src="~/images/pexels-antoni-shkraba-4599374.jpg">
                </div>
            </div>
        </div>

        <div class="card border border-2 mb-5 mx-lg-4">
            <div class="row justify-content-evenly g-0">
                <div class="col-12 col-md d-flex justify-content-center justify-content-lg-start">
                    <img class="img-fluid" src="~/images/pexels-arina-krasnikova-6663378.jpg" />
                </div>
                <div class="col-12 col-md d-flex align-items-center">
                    <div class="card-body">
                        <h4 class="card-title">Service 1</h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua. Pulvinar elementum integer enim
                            neque volutpat ac tincidunt. Sed nisi lacus sed viverra tellus in.
                        </p>
                        <a class="btn btn-secondary" role="button" asp-area="" asp-page="/ServiceTwo">Read More</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="card border border-2 mx-lg-4">
            <div class="row justify-content-evenly g-0">
                <div class="col-12 col-md order-2 order-md-1 d-flex align-items-center">
                    <div class="card-body">
                        <h4 class="card-title">Service 2</h4>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt ut labore et dolore magna aliqua. Pulvinar elementum integer enim
                            neque volutpat ac tincidunt. Sed nisi lacus sed viverra tellus in.
                        </p>
                        <a class="btn btn-secondary" role="button" asp-area="" asp-page="/ServiceTwo">Read More</a>
                    </div>
                </div>
                <div class="col-12 col-md order-1 order-md-2 d-flex justify-content-end">
                    <img class="img-fluid" src="~/images/pexels-arina-krasnikova-6663361.jpg" />
                </div>
            </div>
        </div>
    </div>
</section>